<head>
    <title>Caupona Adventures</title>
    <meta name="description" content="Group Number 9" />
	<meta charset="UTF-8">
</head>

<header>
    <h2>Number 9 Large</h2>
    <div class = "links">
    <ul>
	<li class = "link1"><%= link_to 'List of all Restaurants',controller: 'restaurants' %></li>
    <li class = "link2"><%= link_to 'About us', controller: 'about'%></li>
	</ul>
	</div>
</header>

<table align = "center" , border = "1">
  <tr>
  <th><h1 id="center">Caupona Adventures</h1></th>
  </tr>
</table>



<p>
        <strong>Preview Review</strong><br>
    
    <strong>Restaurant:</strong> Surfside<br>         <strong>Location:</strong> P. Sherman 42 Wallaby Way, Sidney<br>
    <img>
    <%= image_tag("https://static.pexels.com/photos/51136/pexels-photo-51136.jpeg", :alt => "rss feed") %>
    </img>
    
    <br><strong>Review:</strong> A beautiful restaurant right on the ocean front and also features a large <br>
    fish tank with exotic fish!<br>
    <strong>Rating:</strong> 4.5
</p>
</div>


<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>
