<head>
    <title>Caupona Adventures</title>
    <meta name="description" content="Group Number 9" />
	<meta charset="UTF-8">
</head>

<header>
    <h2>Number 9 Large</h2>
</header>

<h1 id="center">Caupona Adventures</h1>
<div id = "test4">
<test4><%= link_to 'List of all Restaurants',controller: 'reviews' %></test4>
</div>

<p>
    Preview Review<br>
    
    Resturant: Surfside<br>
    
    <%= image_tag("https://static.pexels.com/photos/51136/pexels-photo-51136.jpeg",  :alt => "rss feed") %>
</p>


<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>
<!-- This is how you write a comment in HTML. -->