<header>
    <%= link_to 'Home', welcome_index_path %> |
	<%= link_to 'Restaurants', restaurants_path %>
</header>

<h1>Editing review</h1>
 
<%= render 'form' %>

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>