<header>
        <p>
        <%= link_to 'Home', welcome_index_path %> |
	    <%= link_to 'Restaurants', restaurants_path %>
    </p>
	<meta charset="UTF-8">
</header>
<div id="shell">
<h1>Editing review</h1>
 
<%= render 'form' %>
</div>
<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>