<p>
    <strong id = "r1">Restaurant</strong><br>
    <%= @restaurant.Restaurant %>
</p>

<p>
    <strong id = "r2">description</strong><br>
    <%= @restaurant.description %>
</p>
<p>
    <strong id = "r3">rating</strong><br>
    <%=@restaurant.rating %>
</p>

<div id = "b2">
<%= link_to 'Back', restaurants_path %>
</div>

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>