<head>
    <meta name="description" content="Group Number 9" />
	<meta charset="UTF-8">
</head>

<div id = "shell">    
    <div class = "name1">
        
 <h1 id = "name"><%= link_to 'Caupona Adventures', welcome_index_path %></h1>
 </div>
    <p>
        <%= link_to 'Home', welcome_index_path  %> |
	    <%= link_to 'Restaurants', restaurants_path %>
    </p>
<header>
    <h3>Number 9 Large</h3>
</header>


<div class = "about">
<p>
    Caupona Adventures is a team-driven project developed and designed by the group Number 9 large.
    It aims to provide a user friendly website that allows users to review restaurants and rate them
    on a 1-5 scale.<div class = "link"> 
    <p>We also offer a <a href = "https://group-9-project-davidaniel91.c9users.io/restaurants">
        wide list of different restaurants</a> that you could choose to either edit, destroy, comment or simply 
        read!!</div></p>
        </p>
</div>        
</div>

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>
