<head>
    <title>Caupona Adventures</title>
    <meta name="description" content="Group Number 9" />
	<meta charset="UTF-8">
</head>

<header>
    <h2>Number 9 Large</h2>
    <ul>
	<li><%= link_to 'List of all Restaurants',controller: 'restaurants' %></li>
  
	</ul>
</header>