// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4b/bb/a6/4bbba62afa2b6f4bda09b7ec99d3ba87.jpg");
    //margin: 10 auto;
    
    background-color: #A9A9A9; //#00ff40; //#FF69B4
}

//Number 9 large 
h3 {
    font: 42px Helvetica, Arial, sans-serif;
    font-family: Copperplate , Lucida Console;
    font-size: 200%;
    color:  #F0E68C; //#B42E2E; //#00ff40; //#00ff40;
    text-shadow: 2px 2px 4px #000000
}

//The about text
.about {
    color: #F0E68C; 
    font: 16px Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000 
}

//makes links pink when hover
 .link a:hover {
    color: hotpink;
}

//used as a box on the restaurant index,about index, restaurant new,
#shell {
    position: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-image:url("Black.png");
    border: 20px solid rgba(255, 255, 255, .3);
    width: 1250px;
    height: 100%;
    padding:60px;
}