// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#r1 {
    //background-image: url("http://payload.cargocollective.com/1/0/1735/12787/Walls_1.jpg");
    //background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4b/bb/a6/4bbba62afa2b6f4bda09b7ec99d3ba87.jpg");
    color: #1FCC01;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

#r2 {
    color: #F89A00;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

#r3 {
    color: #00BE89;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

p {
    font: 32px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #D3090C;   
    
    
}

