// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.restaurant {
    //color: white;
    font: Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #FF69B4; //#4EB12E; //#B42E2E; 
    //text-align: center;
    text-shadow: 1px 1px 2px #000000
}

table,th,td {
    border: 1px solid black;
    background-color:#948C85;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

p {
    font: 32px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #D3090C;   
}

border {
        width: 300px;
    border: 2px solid black;
    background-color: lightgrey;
}

april {
    width: 50%;
}

table.table2 {
    
    border: 1px solid black;
    float: left;
    background-color:#948C85;
    
}

table.table2 {
    width: 50%;
}

 table.center,q {
    border: border-collapse;
    width:70%; 
    float: left;
    margin-left:15%; 
    margin-right:15%;
  }
  
  q {
     margin-left:15%; 
    margin-right:15%;
     float: left;
  }
  
  backdrop{
     margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

  }