// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    font: 48px Helvetica, Arial, sans-serif;
    font-size: 150%;
    padding: 60px;
    color: #F0E68C; //#730D76; //#4EB12E green #21920F; lighter green OR #730D76 -> purple
    text-shadow: 2px 2px 4px #000000
}

.listing {
    color: #F0E68C; //#4EB12E; //#EB0104; OR #21920F; lighter green
    font: 24px Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000
}

div.restaurant {
    //color: white;
    font: sans-serif , Helvetica, Arial;
    font-size: 150%;
    color: #F0E68C;  //#FF69B4; //#4EB12E; //#B42E2E; 
    //text-align: center;
    background-image:url("black.png");
    text-shadow: 1px 1px 2px #000000
}

table,th,td {
    border: 1px solid black;
    background-color: #505050;
    color: #F0E68C;
}


table {
    width: 100%;
}

td {
    
}
th {
    height: 50px;
}

border {
    width: 300px;
    border: 2px solid black;
    background-color: lightgrey;
}

table.table2 {
    
    border: 1px solid black;
    float: left;
    background-color:#948C85;
    
}

table.table2 {
    width: 50%;
}

table.center,q {
    border: border-collapse;
    width:70%; 
    float: left;
    margin-left:15%; 
    margin-right:15%;
}
  
q {
     margin-left:15%; 
     margin-right:15%;
     float: left;
}

footer {
    padding-top: 10px;
    position:absolute; 
    color: #F0E68C;  //#F0FFFF;//#A9A9A9 -> grey
    bottom:0;
    right:0;
    font: "Times New Roman", Arial, sans-serif;
}

textarea {
    width: 25%;
    height: 200px;
    padding: 12 px 12 px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: float;
    background-color: #ffffff;
    resize: auto;
}

#error_explanation {
    font: 10px Helvetica, Arial, sans-serif;
    font-size: 90%;
    color: #000000;   
    
}

#case {
    position: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("Black.png");
    border: 20px solid #FFFFFF;
    width: 1250px;
    height: 100%;
    padding:20px;
}

 .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.cat{
    font: 32px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #F0E68C;
    position: center;
    text-align: center;
    text-shadow: 1px 1px 3px #000000
}

.restaurantbox{
    position: center;
    margin-right: auto;
    margin-left: auto;
    background-image: url("black.png");
    border: 20px solid #FFFFFF;
    width: 80%;
    height: 100%;
    padding:20px;
    
}

#desc{
 position: center;
 margin-right: auto;
 margin-left: auto;
 background-color: #000000;
 border: 1px solid #FFFFFF;
 width: 50%;
 height: 100%;
 color: #F0E68C;
 font-size: 150%;
}

#location{
    font-size: 75%;
}

#b2 a:hover {
    color: hotpink;
}

#b1 a:hover {
    color: hotpink;
}
  .button {
    background-color: black;
    color: black;
    border: 2px solid  #F0E68C;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}