// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#r1 {
    //background-image: url("http://payload.cargocollective.com/1/0/1735/12787/Walls_1.jpg");
    color: #FF69B4; //#1FCC01;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

#r2 {
    color: #FF69B4; //#F89A00;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

#r3 {
    color: #FF69B4; //#00BE89;
    font: 36px Helvetica, Arial, sans-serif;
    padding-top: 25px;
}

p {
    font: 32px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #D3090C;   
    
    
}

textarea {
    width: 25%;
    height: 200px;
    padding: 12 px 12 px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #ffffff;
    resize: auto;
}

.stay {
    position: center;
}