// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    //background-image: url("https://static.pexels.com/photos/213661/pexels-photo-213661.jpeg");
    //background-size: cover;
    //Another possible cover: 
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4b/bb/a6/4bbba62afa2b6f4bda09b7ec99d3ba87.jpg");
    background-color: #A9A9A9; 
}

//used for the sample image
img{
    position: center;
    height: auto;
    width: auto;
    max-width: 300px; 
    max-height: 300px;
}

//used for links
a{
    text-decoration: none;
    color: #ffffe6;
}

//links that have been visited
h1 a:visited {
    color: #ffffe6;
}

//hovering over h1 links specifically "Caupona Adventures" on restaurant index
h1 a:hover {
    color: hotpink;
}


h1 {
    //This changes the font and color of the h1 header one in the application
    //play around with different styles and colors
    font: 48px Helvetica, Arial, sans-serif;
    font-family: Copperplate , Lucida Console;
    font-size: 300%;
    color: #F0E68C;  
    text-shadow: 2px 2px 4px #000000
    
}


h2 {
    font: 48px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #F0E68C; 
    text-shadow: 2px 2px 4px #000000
}

//for the copyright
footer {
    padding-top: 10px;
    position:relative; 
    color: #F0E68C;  //#F0FFFF;
    bottom:0;
    right:0;
    font: "Times New Roman", Arial, sans-serif;
}

//used in the restaurant index specifically the top table fonts
.restaurant {
    color: #F0E68C;
    font: 32px Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000
    
}


//makes the back link lower
#b2 {
    margin-top: 10px;
    color: #ffffe6;
}

//back link color
#b2 a{
    font: Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #ffffe6;
    text-shadow: 2px 2px 4px #000000
}


//used for a lot of text 
p {
    font: 32px Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #F0E68C;
    position: center;
    text-align: center;
     text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    
}

//Buttons for Create and Update
input[type=text] {
    width: 25%;
    padding: 12 px 12 px;
    border: 2px solid #ccc;
    background-color: #ffffff;
}

input[type=button], input[type=submit] {
    background-color: white;
    border: 2px solid #008CBA;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

input[type=button], input[type=submit]:hover {
    background-color: #008CBA;
    color: white;
}

//color of links that have been visited
a:visited {
    color:#ffffe6 ;
}

//color of links when you hover over them
 a:hover {
    color: hotpink;
}
 