<header>
    <%= link_to 'Home', welcome_index_path %> |
	<%= link_to 'Restaurants', restaurant_index_path %>
</header>

<h1>Editing review</h1>
 
 <%= render 'form' %>
 
<!-- Removed Link_to due to it creating a duplicate back button -->

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>