<h1>Reviews</h1>
 <head>
    <title>Caupona Adventures</title>
    <meta name="description" content="Group Number 9" />
	<meta charset="UTF-8">
</head>

<header>
</header>

<table>
    <tr>
        <th>Commenter</th>
        <th>Review</th>
        <th>Rating</th>
    </tr>
<% @review.each do |review| %>
<tr>
    <td><%= link_to 'Edit', edit_restaurant_review_path(review) %></td>
    <td><%= link_to 'Destroy', destroy_restaurant_review_path(review)%></td>
</tr>

<% end %>
</table>
