<header>
    <title>New Review</title>
    <p>
        <%= link_to 'Home', welcome_index_path %> |
	    <%= link_to 'Restaurants', restaurants_path %>
    </p>
	<meta charset="UTF-8">
</header>

<h1>New Review</h1>

<%= render 'review' %>


<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>