<p>
    <strong id = "r1">Restaurant</strong><br>
    <%= @review.title %>
</p>

<p>
    <strong id = "r2">Review</strong><br>
    <%= @review.text %>
</p>
<p>
    <strong id = "r3">rating</strong><br>
    <%=@review.rating %>
</p>

<div id = "b2">
<%= link_to 'Back', reviews_path %>
</div>

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>