<p>
    <strong>title</strong>
    <%= @review.title %>
</p>

<p>
    <strong>text</strong>
    <%= @review.text %>
</p>
<p>
    <strong>rating</strong>
    <%=@review.rating %>
</p>

<%= link_to 'Back', reviews_path %>